/* ------------------------------------
   Body
*/
body {
  font-family: 'Muli', sans-serif;
}

h2 {
  /* font-weight: bold; */
  /* font-family: 'Archivo Black', sans-serif; */
}

/* ------------------------------------
   Navigation
*/
/* Do this if you want to change the color of the navbar */
.navbar.bg-dark {
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* This will insert a space of height 75px before every id:
   https://github.com/twbs/bootstrap/issues/1768 check the solution from @mnot
*/
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}


/* ------------------------------------
   section
*/
.pics img {
  display: block;
  height: 150px;
  margin: auto;
}

/* ------------------------------------
   Project Description
*/
.project-description {
  margin-top: 50px;
}

/* ------------------------------------
   Search Engine Section
*/
.search-engine-title {
  margin-top: 100px;
}

.search-engine {
  margin-top: 40px
}


/* ------------------------------------
   Display Output Section
*/
.output {
  word-wrap: break-word;
}

/* ------------------------------------
   Separating Line
*/
hr {
    border-top: 5px solid #79828c75;
}
